Write a Status: <div id="loading" class="right" style="display:none">
	<%= image_tag("home/loading.gif") %>
</div>
<div class="row">
<%= form_for @status , class: "clearfix", url: {controller: "status", action: "create"},remote: true do |f| %>

  <div class="field">
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit 'Post', class: 'button tiny right' %>
  </div>
<% end %>
</div>

<% @feed.each do |post| %>
		<% if post.post_type == "status" %>
				<p><%= post.status.content %></p>
		<% end %>
<% end %>