<div class="row">
	<div class="small-6 small-centered columns">
		<h2>Welcome <%= current_user.fullname %></h2>
		<h3>Upload your Avatar and Getting started</h3>
		<div class="row">

			
    <%= form_for current_user , url: {controller: "profile", action: "upload_avatar"},remote: true, method: :post, html: { multipart: true } do |f| %>
    
			<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 


			<%= f.file_field :image %>
    	<%= f.hidden_field :image_cache %>

		  <div class="actions">
		    <%= f.submit 'Post', class: 'button small right' %>
		  </div>
		<% end %>

		</div>
	</div>
</div>